.card {
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    box-shadow: var(--shadow-3);
    position: relative;

}

.cardImage {
    transition: 0.5s;
}

.cardImage:hover {
    opacity: 50%;
}

.activityImage {
    position: relative;
    height: 200px;
}

.avatar {
    border-radius: 50%;
}

.details {
    padding: 12px;
    height: 64px;
}

.details:hover a{
    text-decoration: underline;
}

.text {
    margin-left: 16px;
}